
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
body{
  background-color: blanchedalmond;
}
.main_header{
    width: 1200px;
    text-align: center;
    padding-top: 20px;
    color: brown;
    padding-left: 50px;
    
    
}

.container{
    background-image: url(../images/invitation.jpg);  
    background-repeat: no-repeat;  
    display: inline-grid;
    background-position: center;
    justify-content: center;
    position: relative;
    text-align:center ;
    margin-top: 50px;
    padding: 50px;
    width: 1200px;
    height: 600px;
    animation: slide-in 1000ms;
}

.main_title .main_info .main_section{
  display: flex;
  justify-content: center;
  align-items: end;
  top: 50%;
  left: 50%;
  padding-top: 50px;
  margin-top: 50px;   
}
.main_info {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: darkred;
  font-size: 14px;
  font-style: italic;

  
}
.main_title {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-style: italic;
  color:rgb(165, 121, 10);
  margin: auto;
  padding-top: 80px;
  font-stretch: expanded;
  
  
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.main_section{
  font-family: "Great Vibes", cursive ;
  color: rosybrown;
  font-size: 32px;
  font-weight: bold;
  transition: width 2s, height 2s, transform 2s;
  }
  .main_section:hover {
    transform: rotate(360deg);
  }
  .btn {
    width: 50%;
    height: 36px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(196, 172, 172);
    color:darkred;
    box-shadow: 1px 1px 4px #000000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}
.btn:hover {
  background-color: rosybrown;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  
}